<nav>

    <div id="cabecera">
        <ul>
            <li>MIS LIBROS</li>
        </ul>    

    </div>

    <div id ="menu">

        <a [routerLink]="['/']" routerLinkActive="router-link-active" >
        <button mat-button >
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Inicio
        </button>
        </a>

        <a [routerLink]="['/libros']" routerLinkActive="router-link-active" >
        <button mat-button >Libros</button>
        </a>

        <a [routerLink]="['/quejas']" routerLinkActive="router-link-active" >
            <button mat-button >Quejas</button>
        </a>
    </div>
</nav>
